<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!-- Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
  <!-- Profile -->
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/profile" routerLinkActive="active-link">Profile</a>
        </li>
<!-- Dashboard -->
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
        </li>

<!-- Product -->
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/products" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Product</a>
        </li>

<!-- Product Detail -->
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/products/details/67" routerLinkActive="active-link">Product Detail</a>
        </li>

 <!-- Product Detail -->
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/products/addproduct" routerLinkActive="active-link">add Product</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>